Analysis of impact of kappa on grid

### Requirements

Load the necessary packages.

In [1]:
import pandas as pd
from numpy import pi
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib as mpl

### Load Data and perform analysis

In [2]:
#Read in Transformer Load for differnet kappa (kappa = 4 is equal to the case of volumetric grid charges and all HHs using dynamic tariffs) and determine
#the number of transformer overloads
tl_base = pd.read_excel(r'.\results\results_0flex100flat\res_trafo\loading_percent.xlsx', index_col=0)
tol_base = (tl_base.iloc[:, 0] > 100).sum()
tl2 = pd.read_excel(r'.\results\results_2kappa\res_trafo\loading_percent.xlsx', index_col=0)
tol2 = (tl2.iloc[:, 0] > 100).sum()
tl3 = pd.read_excel(r'.\results\results_3kappa\res_trafo\loading_percent.xlsx', index_col=0)
tol3 = (tl3.iloc[:, 0] > 100).sum()
tl4 = pd.read_excel(r'.\results\results_100flex0flat\res_trafo\loading_percent.xlsx', index_col=0)
tol4 = (tl4.iloc[:, 0] > 100).sum()
tl6 = pd.read_excel(r'.\results\results_6kappa\res_trafo\loading_percent.xlsx', index_col=0)
tol6 = (tl6.iloc[:, 0] > 100).sum()
tl8 = pd.read_excel(r'.\results\results_8kappa\res_trafo\loading_percent.xlsx', index_col=0)
tol8 = (tl8.iloc[:, 0] > 100).sum()
tl12 = pd.read_excel(r'.\results\results_12kappa\res_trafo\loading_percent.xlsx', index_col=0)
tol12 = (tl12.iloc[:, 0] > 100).sum()

In [4]:
#Read in voltages
vm_base =  pd.read_excel(r'.\results\results_0flex100flat\res_bus\vm_pu.xlsx', index_col=0)
vm2 = pd.read_excel(r'.\results\results_2kappa\res_bus\vm_pu.xlsx', index_col=0)
vm3 = pd.read_excel(r'.\results\results_3kappa\res_bus\vm_pu.xlsx', index_col=0)
vm4 = pd.read_excel(r'.\results\results_100flex0flat\res_bus\vm_pu.xlsx', index_col=0)
vm6 = pd.read_excel(r'.\results\results_6kappa\res_bus\vm_pu.xlsx', index_col=0)
vm8 = pd.read_excel(r'.\results\results_8kappa\res_bus\vm_pu.xlsx', index_col=0)
vm12 = pd.read_excel(r'.\results\results_12kappa\res_bus\vm_pu.xlsx', index_col=0)

In [5]:
#Determine number of overvoltage occurences and minimum voltage
vmd_base = sum((vm_base >= 1.1).sum()) + sum((vm_base <= 0.9).sum())
vmd_basemin = min(vm_base.min(axis=1))
vmd2 = sum((vm2 >= 1.1).sum()) + sum((vm2 <= 0.9).sum())
vmd2min = min(vm2.min(axis=1))
vmd3 = sum((vm3 >= 1.1).sum()) + sum((vm3 <= 0.9).sum())
vmd3min = min(vm3.min(axis=1))
vmd4 = sum((vm4 >= 1.1).sum()) + sum((vm4 <= 0.9).sum())
vmd4min = min(vm4.min(axis=1))
vmd6 = sum((vm6 >= 1.1).sum()) + sum((vm6 <= 0.9).sum())
vmd6min = min(vm6.min(axis=1))
vmd8 = sum((vm8 >= 1.1).sum()) + sum((vm8 <= 0.9).sum())
vmd8min = min(vm8.min(axis=1))
vmd12 = sum((vm12 >= 1.1).sum()) + sum((vm12 <= 0.9).sum())
vmd12min = min(vm12.min(axis=1))

In [6]:
#Read in hourly loads of each household
load_base = pd.read_csv('load_before_shift.csv', index_col=0)
load_2 = pd.read_csv('load_after_shift_2kappa.csv', index_col=0)
load_3 = pd.read_csv('load_after_shift_3kappa.csv', index_col=0)
load_4 = pd.read_csv('load_after_shift.csv', index_col=0)
load_6 = pd.read_csv('load_after_shift_6kappa.csv', index_col=0)
load_8 = pd.read_csv('load_after_shift_8kappa.csv', index_col=0)
load_12 = pd.read_csv('load_after_shift_12kappa.csv', index_col=0)

In [7]:
#max aggregated Load in kWh at one time step
maxLoad_base = max(load_base.sum(axis=1))
maxLoad2=max(load_2.sum(axis=1))
maxLoad3=max(load_3.sum(axis=1))
maxLoad4=max(load_4.sum(axis=1))
maxLoad6=max(load_6.sum(axis=1))
maxLoad8=max(load_8.sum(axis=1))
maxLoad12=max(load_12.sum(axis=1))

In [8]:
#Load Heat Pump Data
hh_hp = pd.read_csv('Hourly_HH_HP.csv', index_col=0)
hp2 = pd.read_csv('hp_after_shift_2kappa.csv',index_col=0)
hp3 = pd.read_csv('hp_after_shift_3kappa.csv',index_col=0)
hp4 = pd.read_csv('hp_after_shift_4kappa.csv',index_col=0)
hp6 = pd.read_csv('hp_after_shift_6kappa.csv',index_col=0)
hp8 = pd.read_csv('hp_after_shift_8kappa.csv',index_col=0)
hp12 = pd.read_csv('hp_after_shift_12kappa.csv',index_col=0)

In [9]:
#take only heat pump data out of the dataframe hh_hp
hp_base = pd.DataFrame()
for i in range(len(hh_hp.columns)//2):
    hp_base[hp3.columns[i]]=hh_hp.iloc[:,i*2+1]

In [10]:
#Determine the mean variance in heat pump load for each hh
hp_base_mean_var = (hp_base.var()).mean()
hp2_mean_var = (hp2.var()).mean()
hp3_mean_var = (hp3.var()).mean()
hp4_mean_var = (hp4.var()).mean()
hp6_mean_var = (hp6.var()).mean()
hp8_mean_var = (hp8.var()).mean()
hp12_mean_var = (hp12.var()).mean()

#Determine the minimum variance in heat pump load for each hh
hp_base_min_var = hp_base.var().min()
hp2_min_var = hp2.var().min()
hp3_min_var = hp3.var().min()
hp4_min_var = hp4.var().min()
hp6_min_var = hp6.var().min()
hp8_min_var = hp8.var().min()
hp12_min_var = hp12.var().min()

#Determine the maximum variance in heat pump load for each hh
hp_base_max_var = hp_base.var().max()
hp2_max_var = hp2.var().max()
hp3_max_var = hp3.var().max()
hp4_max_var = hp4.var().max()
hp6_max_var = hp6.var().max()
hp8_max_var = hp8.var().max()
hp12_max_var = hp12.var().max()

In [12]:
#Write all results in a dataframe
results = pd.DataFrame()
row_names =['w=2', 'w=3', 'w=4', 'w=6', 'w=8', 'w=12', 'Empirical']
results['Transformer Overloading']=[tol2,tol3, tol4, tol6, tol8, tol12, tol_base]
results['Under Voltage'] = [vmd2, vmd3, vmd4, vmd6, vmd8, vmd12,vmd_base]
results['Min. Voltage']=[vmd2min, vmd3min, vmd4min, vmd6min, vmd8min, vmd12min, vmd_basemin]
results['Max. Overall Load']=[maxLoad2, maxLoad3, maxLoad4, maxLoad6, maxLoad8, maxLoad12, maxLoad_base]
results['Mean Variance of HP Load']=[hp2_mean_var, hp3_mean_var, hp4_mean_var, hp6_mean_var, hp8_mean_var, hp12_mean_var, hp_base_mean_var]
results['Min. Variance of HP Load']=[hp2_min_var, hp3_min_var, hp4_min_var, hp6_min_var, hp8_min_var, hp12_min_var, hp_base_min_var]
results['Max. Variance of HP Load']=[hp2_max_var, hp3_max_var, hp4_max_var, hp6_max_var, hp8_max_var, hp12_max_var, hp_base_max_var]
results.index = row_names
results

,Transformer Overloading,Under Voltage,Min. Voltage,Max. Overall Load,Mean Variance of HP Load,Min. Variance of HP Load,Max. Variance of HP Load
w=2,79,9,0.896764,237.200236,1.676328,0.234363,8.504818
w=3,101,31,0.887916,254.153238,2.219699,0.322442,12.316888
w=4,107,30,0.885172,261.014897,2.063649,0.306774,10.880221
w=6,99,33,0.886466,258.764392,1.746018,0.277741,8.757926
w=8,98,42,0.884543,263.743114,1.543922,0.250929,7.557749
w=12,105,50,0.882415,271.079127,1.333381,0.220006,6.300375
Empirical,0,0,0.964198,80.349870,0.758575,0.106584,3.071929

### Heat Pump Operation

Check how many times 4 consecutive hours with no heating occur for each interval length.

In [13]:
#count the number of 4 consecutive hours with no heating in the empirical data
crit4_base=[]
for i in range(len(hp_base.columns)):
    count=0
    critical =0
    for j in range(len(hp_base)):
        if hp_base.iloc[j,i]==0:
            count += 1
        elif hp_base.iloc[j,i]!=0:
            count = 0
        if count == 4:
            critical += 1
            count = 0
    crit4_base.append(critical)

In [17]:
#count the number of 4 consecutive hours with no heating for interval length of 2
crit4_2=[]
for i in range(len(hp_base.columns)):
    count=0
    critical =0
    for j in range(len(hp_base)):
        if hp2.iloc[j,i]==0:
            count += 1
        elif hp2.iloc[j,i]!=0:
            count = 0
        if count == 4:
            critical += 1
            count = 0
    crit4_2.append(critical)

In [15]:
#count the number of 4 consecutive hours with no heating for interval length of 3
crit4_3=[]
for i in range(len(hp_base.columns)):
    count=0
    critical =0
    for j in range(len(hp_base)):
        if hp3.iloc[j,i]==0:
            count += 1
        elif hp3.iloc[j,i]!=0:
            count = 0
        if count == 4:
            critical += 1
            count = 0
    crit4_3.append(critical)

In [14]:
#count the number of 4 consecutive hours with no heating for interval length of 4
crit4_4=[]
for i in range(len(hp_base.columns)):
    count=0
    critical =0
    for j in range(len(hp_base)):
        if hp4.iloc[j,i]==0:
            count += 1
        elif hp4.iloc[j,i]!=0:
            count = 0
        if count == 4:
            critical += 1
            count = 0
    crit4_4.append(critical)

In [16]:
#count the number of 4 consecutive hours with no heating for interval length of 6
crit4_6=[]
for i in range(len(hp_base.columns)):
    count=0
    critical =0
    for j in range(len(hp_base)):
        if hp6.iloc[j,i]==0:
            count += 1
        elif hp6.iloc[j,i]!=0:
            count = 0
        if count == 4:
            critical += 1
            count = 0
    crit4_6.append(critical)

In [18]:
#count the number of 4 consecutive hours with no heating for interval length of 8
crit4_8=[]
for i in range(len(hp_base.columns)):
    count=0
    critical =0
    for j in range(len(hp_base)):
        if hp8.iloc[j,i]==0:
            count += 1
        elif hp8.iloc[j,i]!=0:
            count = 0
        if count == 4:
            critical += 1
            count = 0
    crit4_8.append(critical)

In [19]:
#count the number of 4 consecutive hours with no heating for interval length of 12
crit4_12=[]
for i in range(len(hp_base.columns)):
    count=0
    critical =0
    for j in range(len(hp_base)):
        if hp12.iloc[j,i]==0:
            count += 1
        elif hp12.iloc[j,i]!=0:
            count = 0
        if count == 4:
            critical += 1
            count = 0
    crit4_12.append(critical)

In [20]:
#Write results in a dataframe
crit = pd.DataFrame()
row_names =['w=2', 'w=3', 'w=4', 'w=6','w=8','w=12']
crit.index = row_names
for i in range(len(crit4_2)):
    crit[i+1]=[crit4_2[i],crit4_3[i],crit4_4[i],crit4_6[i], crit4_8[i], crit4_12[i]]

In [21]:
crit.T

    w=2  w=3  w=4  w=6  w=8  w=12
1     0  661  365  196   82     0
2     0  631  363  119   96     0
3     1  641  429  228  140     1
4     0  654  335  158   90     0
5     0  420  328  209  127     1
6     0  667  351  129  100     1
7     0  572  397  230  128     0
8     0  648  416  221  136     0
9     0  661  300  177   81     1
10    0  645  424  259  142     0
11    0  562  416  236  153     0
12    0  640  399  210  142     1
13    0  419  331  197  101     0
14    0  613  385  269  141     0
15    0  551  315  190  105     1
16    0  618  412  219  141     0
17    0  649  339  220   97     4
18    0  666  424  195  158     1
19    0  321  381  242  168     0
20    0  647  390  187  174     6
21    0  643  407  245  141     2
22    0  553  436  203  161     1